<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodForEyesApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>276F92992E202FCA004EE155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276F92B22E202FCC004EE155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276F92BC2E202FCC004EE155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C699872E8C30E40090D12D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
